<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row hug-left">
    <div class="small-2 columns"><%= f.label :first_name, class: "left inline" %></div>
    <div class="small-4 columns left hug-left"><%= f.text_field :first_name %></div>
  </div>
  <div class="row hug-left">
    <div class="small-2 columns"><%= f.label :last_name, class: "left inline" %></div>
    <div class="small-4 columns left hug-left"><%= f.text_field :last_name %></div>
  </div>
  <div class="row">
    <div class="small-9 columns hug-left"><%= f.submit %></div>
  </div>
<% end %>
