<%= form_for(@school) do |f| %>
  <% if @school.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@school.errors.count, "error") %> prohibited this school from being saved:</h2>

      <ul>
      <% @school.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row hug-left">
    <div class="small-2 columns"><%= f.label :person_id, "Name", class: "left inline" %></div>
    <div class="small-4 columns left hug-left"><%= f.collection_select :person_id, Person.all, :id, :name_joined %></div>
  </div>
  <div class="row hug-left">
    <div class="small-2 columns"><%= f.label :name, "School", class: "left inline" %></div>
    <div class="small-4 columns left hug-left"><%= f.text_field :name %></div>
  </div>
  <div class="row hug-left">
    <div class="small-2 columns"><%= f.label :beginning_year, "Year Started", class: "left inline" %></div>
    <div class="small-4 columns left hug-left"><%= f.text_field :beginning_year %></div>
  </div>
  <div class="row hug-left">
    <div class="small-2 columns"><%= f.label :ending_year, "Year Graduated", class: "left inline" %></div>
    <div class="small-4 columns left hug-left"><%= f.text_field :ending_year %></div>
  </div>
  <div class="row">
    <div class="small-9 columns hug-left"><%= f.submit %></div>
  </div>
<% end %>
